.table td, th {
   text-align: center;   
}

.portlet.green, .portlet>.portlet-body.green {
    background-color: #35aa47!important;
}

.portlet.box.green {
    border: 1px solid #77e588;
    border-top: 0;
}


.portlet>.portlet-title {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.portlet.box>.portlet-title {
    padding: 8px 10px 2px;
    border-bottom: 1px solid #eee;
    color: #fff!important;
    margin-bottom: 0;
}

.portlet.box.green>.portlet-title {
    background-color: #35aa47;
}

.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 7px;
    padding: 0;
}

.portlet>.portlet-title>.caption i {
    float: left;
    margin-top: 5px;
    display: inline-block!important;
    font-size: 13px;
    margin-right: 5px;
    color: #666;
}

.portlet>.portlet-body {
    clear: both;
    padding: 0;
}

.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 10px;
}

.chats {
    margin: -15px 0 0;
    padding: 0;
}

.chats li {
    list-style: none;
    padding: 5px 0;
    margin: 10px auto;
    font-size: 12px;
}

.chats li img.avatar {
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
}

ul.chats li img.avatar {
    width: auto;
    height: auto;
    max-height: 45px;
    max-width: 45px;
}

.chats li.in img.avatar {
    float: left;
    margin-right: 10px;
}

.chats li .message {
    display: block;
    padding: 5px;
    position: relative;
}

.chats li .message, .gritter-item p {
    word-wrap: break-word;
}

.chats li.in .message {
    text-align: left;
    border-left: 2px solid #35aa47;
    margin-left: 65px;
    background: #fafafa;
}

.chats li.in .message .arrow, .chats li.out .message .arrow {
    position: absolute;
    top: 5px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    display: block;
}

.chats li.in .message .arrow {
    left: -18px;
    width: 0;
    height: 0;
    border-right: 8px solid #35aa47;
}

.chats li .name {
    color: #3590c1;
    font-size: 13px;
    font-weight: 400;
}

.chats li .datetime {
    color: #333;
    font-size: 13px;
    font-weight: 400;
}

.chats li .message .body {
    display: block;
}

.chats li.out img.avatar {
    float: right;
    margin-left: 10px;
}

.chats li.out .message {
    border-right: 2px solid #da4a38;
    margin-right: 65px;
    background: #fafafa;
}

.chats li.out .message {
    text-align: left;
}

.chats li.out .message .arrow {
    right: -18px;
    border-left: 8px solid #da4a38;
}

.chats li.out .datetime, .chats li.out .name {
    text-align: right;
}

.dropdown-select > li > a input {
    position: absolute;
    left: -9999em;
}